<!-- ##language-nav style

CSS
HTML
Javascript
Ruby


## regular style
Tuesday, October 18, 2016

## links
Today’s Paper
Video

## should turn gray
77°F
AAO +100% -->

<header class=masthead>
  <nav class=language-nav>
    <ul>
      <li> <a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>

  <img class=logo src=assets/AA_Times_Logo.png>

  <ul class=masthead-links>
    <li> <time>Tuesday, October 18, 2016</time></li>
    <li><a href="#">Today's Paper</a></li>
    <li><a href="#">Video</a></li>
    <li>
        <button type="button" name="weather">77°F</button>
    </li>
    <li>
      <button type="button">AA0 <strong>+100%</strong></button>
    </li>
  </ul>
</header>
