<h1> Sign up!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <input type="text" name="user[email]" value="">
  <input type="text" name="user[password]" value="">

  <input type="submit" name="Sign Up" value="SIGN UP">

</form>
